services:
  - type: web
    name: septoctor-ml-api
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    plan: free
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 8000
